.hidden {
    opacity: 0;
    filter: blur(5px);

    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    filter: blur(0px);
}

.card.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-5rem);

    transition: all 0.5s ease;
}

.card.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.card.hidden:nth-child(2) {
    transition-delay: 200ms;
}

.card.hidden:nth-child(3) {
    transition-delay: 400ms;
}

.location-text.hidden,
.location-image.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(5rem);

    transition: all 0.5s ease;
}

.location-text.show,
.location-image.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.info-text.hidden,
.info-image.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5rem);

    transition: all 0.5s ease;
}

.info-text.show,
.info-image.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.question.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5rem);

    transition: all 0.5s ease;
}

.question.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.question.hidden:nth-child(2) {
    transition-delay: 200ms;
}

.question.hidden:nth-child(3) {
    transition-delay: 400ms;
}
