@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;

    perspective: 1px;
    transform-style: preserve-3d;

    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

/* HOME */
.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    transform-style: preserve-3d;
}

.home::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/images/background.JPG);
    background-size: cover;

    transform: translateZ(-1px) scale(2.2);
}

.home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: url(../img/images/middle.png);
    background-size: cover;
}

.home > .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-0.5px) scale(1.5);

    font-size: 12rem;
    font-weight: 900;
    color: #393d3f;
}
