:root {
    --red: rgb(240, 63, 57);
}

/* BUTTONS */
.btn-primary {
}

.btn-secondary {
}

.btn-link {
    color: var(--red);
    text-decoration: underline var(--red);
}

/* CARD-HORIZONTAL */
.card-hor {
    background-color: rgb(241, 241, 241);
    border-radius: 0.5rem;

    overflow: hidden;
    display: flex;
    box-shadow: 0px 0.7rem 1rem rgba(0, 0, 0, 0.2);
}

.alt {
    flex-direction: row-reverse;
}

.card-hor-img {
    aspect-ratio: 16/15;
    background-size: cover;
    background-position: center;
}

.card-hor-body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card-hor-title {
    font-size: 2rem;
}

.card-hor-sub {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(102, 102, 102);
}

.card-hor-read-more {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

/* CARD-VERTICAL */
.card-ver {
    height: 392px;
    width: 300px;

    color: #ffffff;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #404040;
    box-shadow: 0px 0.7rem 1rem rgba(0, 0, 0, 0.2);
}

.card-ver-bg {
    width: 100%;
}

.card-ver-body {
    padding: 0rem 1rem 0rem 1rem;
}

.card-ver-title {
    font-size: 24px;
    font-weight: 500;
}

.card-ver-text {
    font-size: 14px;
}

.card-ver-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 0rem 1rem 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-ver-links {
    display: flex;
    column-gap: 1rem;
}

.card-ver-links > img {
    width: 25px;
}

.card-ver-btn {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #f03f39;
    color: #ffffff;

    cursor: pointer;
    transition: 0.2s;
}

.card-ver-btn:hover,
.card-ver-btn:focus {
    outline: none;
}

.card-ver-btn:hover {
    background-color: #a33430;
}
