:root {
    --dark-blue: #2d3142;
    --light-blue: #4f5d75;
    --grey: #bfc0c0;
    --orange: #ef8354;
    --white: #ffffff;
    --black: #161616;

    --white-hover: #ebebeb;
    --orange-hover: #d1724a;
    --light-blue-hover: #404c61;
    --dark-blue-hover: #222636;

    --bRadius: 1.2em;
}

/* NAVBAR */
.navbar {
    height: 95px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    color: var(--white);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    transition: all 0.2s ease;
}

.nav-logo {
    height: 60%;
}

.nav-item {
    margin-left: 2rem;
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    transform: translate(-1em);
}

.nav-item:first-child {
    margin: 0;
}

.nav-item:first-child::after {
    display: none;
}

.mobile-nav-toggle {
    display: none;
}

.nav-scrolled {
    background-color: var(--dark-blue);
    padding: 0 4rem;
    height: 100px;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    padding: 0 2em;
}

.footer-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}

.footer-item {
    margin-left: 2em;
}

.footer-item:first-child {
    margin: 0;
}

/* MODAL */
.modal {
    position: fixed;
    height: max-content;
    width: max-content;
    max-width: 500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--bRadius);
    background-color: var(--white);
    padding: 0 1.5em;
    z-index: 10000;
    display: none;
}

.modal.shown {
    display: block;
    opacity: 1;
}

.modal.hidden {
    display: none;
    opacity: 0;
}

.modal-header {
    height: max-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px rgba(156, 156, 156, 0.4);
    padding: 1.5em 0;
}

.modal-close-btn {
    background-image: url(../img/icons/close-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    width: 25px;
    opacity: 0.3;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-body {
    margin: 1.5em 0;
    text-align: justify;
}

.modal-footer {
    height: max-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5em 0;
    padding-top: 0;
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    backdrop-filter: blur(10px);
    opacity: 0;
    display: none;

    animation: fade;
}

.bg-blur.shown {
    display: block;
    opacity: 1;
}

.bg-blur.hidden {
    display: none;
    opacity: 0;
}

/* SMALL SCREENS */
@media only screen and (max-width: 1200px) {
    .footer {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 0 1em;
        height: 80px;
    }

    section {
        padding-top: 80px;
    }

    .divider svg {
        height: 80px;
    }

    .nav-logo {
        height: 40%;
    }
    .nav-item {
        font-size: 0.8em;
    }
}

/* TABLETS */
@media only screen and (max-width: 768px) {
    .html-locked {
        overflow: hidden;
    }

    .mobile-nav-toggle {
        display: block;
        background-image: url(../img/icons/list.svg);
        border: none;
        background-color: transparent;
        aspect-ratio: 1;
        height: 2em;
        z-index: 9999;
    }

    .nav-list {
        position: fixed;
        inset: 0 0 0 0%;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .nav-list[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[data-expanded="true"] {
        background: url(../img/icons/close.svg) no-repeat center;
    }

    .nav-item {
        margin: 0;
        font-size: 1.5rem;
    }

    .nav-item::after {
        display: none;
    }

    .footer {
        height: 50px;
        font-size: 0.7em;
    }

    .footer-item img {
        aspect-ratio: 1;
        height: 50%;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    .navbar {
        height: 100px;
    }

    .nav-logo {
        height: 60%;
    }

    .mobile-nav-toggle {
        height: 40%;
    }

    .footer {
        height: max-content;
        flex-direction: column;
        padding: 1em 0;
        gap: 1em;
    }

    .footer-logo {
        height: 6em;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0);
    }

    .footer-item img {
        height: 30px;
    }
}
