@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
    --dark-blue: #2d3142;
    --light-blue: #4f5d75;
    --grey: #bfc0c0;
    --orange: #ef8354;
    --white: #ffffff;
    --black: #161616;

    --white-hover: #ebebeb;
    --orange-hover: #d1724a;
    --light-blue-hover: #404c61;
    --dark-blue-hover: #222636;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    height: 100vh;
    padding: 95px 0;
}

/* NAVBAR */
.navbar {
    height: 95px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1000;

    padding: 0 2rem;
    color: var(--white);

    transition: 0.3s ease-out;
}

.nav-logo {
    height: 60%;
}

.nav-item {
    margin-left: 1rem;

    transition: color 0.2s ease;
}

.nav-item:hover {
    color: var(--orange);
}

.nav-item:first-child {
    margin: 0;
}

.mobile-nav-toggle {
    display: none;
}

.nav-scrolled {
    background-color: var(--dark-blue);
    padding: 0 4rem;
}

/* HOME */
.home {
    height: 200vh;

    background: rgb(183, 233, 255);
    background: linear-gradient(0deg, rgba(183, 233, 255, 1) 70%, rgba(60, 123, 236, 1) 100%);

    position: relative;
    padding: 0;
}

.home::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url(../img/images/home-background.png);
    background-size: cover;
    background-position: bottom;

    transform: translateY(5rem);
}

.hero {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 9rem;
    color: var(--white);
    font-weight: 900;

    transition: opacity 0.5s ease;
}

.hero.hidden {
    opacity: 0;
    user-select: none;
}

.events {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    z-index: 2;

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.events-header {
    height: 5rem;
    width: 70%;
    background-color: var(--white);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.events-header > span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.cards-container {
    height: fit-content;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2em;
    grid-auto-flow: row;
    grid-template-areas: "card1 card2 card3";
}

.card#c1 {
    grid-area: card1;
}
.card#c2 {
    grid-area: card2;
}
.card#c3 {
    grid-area: card3;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    aspect-ratio: 3 / 3.5;
    width: 100%;
    overflow: hidden;
    background-color: var(--dark-blue);

    border-radius: 0.8rem;

    height: 100%;
    width: 100%;

    text-align: center;
    color: var(--white);

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

    transition: transform 0.2s ease;
}

.card-img {
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-img#c1 {
    background-image: url(../img/images/basketball.jpg);
}

.card-img#c2 {
    background-image: url(../img/images/vradia.jpg);
}

.card-img#c3 {
    background-image: url(../img/images/karapataki.webp);
}

.card-body {
    height: 30%;
    width: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1rem;

    padding: 0.75rem 2rem;
}

.card-btn {
    /* font-size: 0.9rem; */
    padding: 0.9rem 1.2rem;
}

.card:hover {
    transform: translateY(-1rem);
}

/* TICKETS */
.tickets {
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 3rem 0;
    background: var(--orange);
    color: var(--white);
}

.tickets > h1 {
    font-size: 2.5rem;
}

.tickets > span {
    font-size: 1.5rem;
}

.tickets-btn {
    margin-top: 2rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 2em 2em;
    grid-template-areas:
        "location-image location-image location-text"
        "info-text info-image info-image";

    width: 80%;
    height: 70%;
}

.location-image {
    grid-area: location-image;
    background-image: url(../img/images/info-01.JPG);
    background-position: center;
    background-size: cover;

    border-radius: 0.7rem;
}
.location-text {
    grid-area: location-text;
    text-align: left;

    position: relative;
}

.info-text {
    grid-area: info-text;
    text-align: right;
}
.info-image {
    grid-area: info-image;
    background-image: url(../img/images/info-02.png);
    background-position: center;
    background-size: cover;

    border-radius: 0.7rem;
}

.location-text > h1,
.info-text > h1 {
    color: var(--orange);
    font-size: 2rem;
}

.location-text > a {
    position: absolute;
    bottom: 0;
    left: 0;

    text-decoration: underline dotted 1px;
    color: var(--orange);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;

    background-color: var(--light-blue);
    color: var(--white);
}

.contact > h1 {
    font-size: 3rem;
    color: var(--orange);
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
}

.contact-info,
.contact-text {
    width: 50%;
}

.contact-info {
    text-align: right;
}

.contact-text {
    text-align: left;
    position: relative;
    inline-size: 340px;
}

.contact-text::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 3px;
    height: 100%;

    background-color: var(--white);

    border-radius: 1rem;
    transform: translateX(-2rem);
}

.contact-map {
    width: 70%;
    height: 60%;
}

.contact-map > iframe {
    height: 100%;
    width: 100%;

    border-radius: 1rem;
}

/* FAQ */
.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--light-blue);
    color: var(--white);
}

.faq > h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.question-container {
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2rem;
}

.question {
    height: 8rem;
    width: 60%;

    display: flex;

    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.question-title {
    width: 90%;
    color: var(--orange);
}

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-2px);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vh;
}

.divider .shape-fill {
    fill: #4f5d75;
}

/* FOOTER */
.footer {
    height: 95px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    position: relative;
}

.footer > svg {
    height: 55%;
}

.footer li:last-child {
    margin-left: 2rem;
}

.footer li svg {
    height: 2rem;
}

@media (max-width: 1024px) {
    .hero {
        font-size: 8rem;
    }

    .home::after {
        transform: translateY(-5rem);
    }

    .cards-container {
        height: 60%;
    }

    .card-body {
        padding: 1rem 0.5rem;
        gap: 1rem;
        height: fit-content;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .card-btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .tickets {
        padding: 2rem 0;
    }

    .info-container {
        height: 90%;
    }

    .info-text,
    .location-text {
        font-size: 0.8rem;
    }

    .location-text > h1,
    .info-text > h1 {
        font-size: 1.2rem;
    }

    .question {
        width: 70%;
    }

    .question-title {
        font-size: 1.2rem;
    }

    .faq {
        height: fit-content;
    }
}

@media (max-width: 768px) {
    .nav-scrolled {
        padding: 0 2rem;
    }

    .nav-list {
        position: fixed;
        inset: 0 0 0 0%;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 9999;
        background: url(../img//icons/hamburger.svg) no-repeat center;
        width: 2rem;
        aspect-ratio: 1;

        border: 0;
    }

    .nav-list[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[data-expanded="true"] {
        background: url(../img/icons/close.svg) no-repeat center;
    }

    .nav-item {
        margin: 0;
        font-size: 1.5rem;
    }

    .nav-logo {
        height: 50%;
    }

    .html-locked {
        overflow-y: hidden;
    }

    .hero {
        font-size: 7rem;
    }

    .tickets {
        padding: 1rem 0;
    }

    .home::after {
        transform: translateY(-20vh);
    }

    .events {
        height: 100vh;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    }

    .events-header > span {
        font-size: 1.2rem;
    }

    .events-header > button {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
    }

    .cards-container {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem 2rem;
        grid-template-areas:
            "card1 card2"
            "card3 card3";

        height: 60%;
    }

    .card {
        padding-bottom: 0;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .card-body {
        row-gap: 1rem;
        font-size: 0.8rem;
    }

    .card-btn,
    .events-btn {
        font-size: 0.7rem;
        padding: 0.7rem 1.2rem;
    }

    .card-img#c3 {
        background-position: top;
    }

    .tickets {
        padding: 2.5rem 0;
    }

    .info-container {
        height: 100%;
        width: 70%;
        font-size: 0.7rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 4rem;
    }

    .info-image,
    .location-image {
        height: 50%;
        width: 100%;
    }
    .location-text {
        order: 1;
    }

    .location-image {
        order: 2;
    }

    .info-text {
        order: 3;
    }
    .info-image {
        order: 4;
    }

    .info-text > h1,
    .location-text > h1 {
        font-size: 1rem;
    }

    .info-text,
    .location-text {
        text-align: center;
    }

    .location-text > p {
        margin-bottom: 1rem;
    }

    .location-text > a {
        position: relative;
    }

    .faq {
        padding-top: 0;
    }

    .faq > h1 {
        font-size: 2.5rem;
    }

    .question-container {
        width: 90%;
    }

    .question {
        width: 100%;
        gap: 1rem;
    }

    .question-title {
        font-size: 0.9rem;
    }

    .question-body {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .home {
        height: 300vh;
    }

    .hero {
        font-size: 4rem;
    }

    .home::after {
        transform: translateY(-25rem);
    }

    .events {
        height: fit-content;
    }

    .events-header {
        height: fit-content;
        width: 80%;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0;
    }

    .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em 0em;
        grid-template-areas:
            "card1"
            "card2"
            "card3";

        width: 80%;
    }

    .card {
        padding-bottom: 1rem;
        height: 20rem;
    }

    .card-body {
        row-gap: 1rem;
    }

    .contact > h1 {
        font-size: 2rem;
    }

    .contact-container {
        width: 90%;
        flex-direction: column;
        gap: 1rem;
    }

    .contact-info,
    .contact-text {
        text-align: center;
        width: 90%;
    }

    .contact-text::after {
        opacity: 0;
    }

    .contact-map {
        width: 85%;
        height: 50%;
    }

    .faq {
        height: fit-content;
    }

    .footer > svg {
        position: relative;
        height: 1.5rem;
        order: -1;
    }

    .footer li svg {
        height: 1.5rem;
    }
}
