@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
}

/* HOME */
.home {
    width: 100%;
    height: 100vh;

    background-image: url(../img/images/background.JPG);
    background-size: cover;
    background-position: center;

    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NAVBAR */
.navbar {
    height: 95px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: #fcfcfc;
    fill: #fcfcfc;

    position: fixed;
    top: 0;
    z-index: 1;

    font-weight: 500;
    transition: background-color 300ms linear;
}

.nav-list,
.nav-logo {
    color: inherit;
    fill: inherit;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    display: inline;
    margin-left: 1.5rem;
}

.nav-item a {
    transition: color 100ms linear;
}

.nav-item a:hover {
    color: #f07167;
}

.nav-item:first-child {
    margin: 0;
}

.nav-active {
    background-color: #003844;
    transition: background-color 300ms linear;
}

/* WEATHER */
.weather {
    height: 20vh;
    width: 100%;

    background-color: #f07167;
}

/* EVENTS */
.events {
    height: 100vh;
    width: 100%;

    padding-top: 95px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform-style: preserve-3d;
}

.events-container {
    height: 95%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.events-header {
    grid-area: 1 / 1 / 2 / 4;
    color: #393d3f;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.events-header > h1 {
    position: relative;
}

.events-header > h1::after {
    content: "";
    height: 7px;
    width: 20%;
    background-color: #f07167;
    border-radius: 1rem;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15px);
}

.cards-container {
    grid-area: 2 / 1 / 3 / 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0px;
}

.card1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #003844;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #003844;
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #003844;
}

.events-footer {
    grid-area: 3 / 1 / 4 / 4;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    overflow: hidden;
}

.card-img {
    height: 75%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card1 .card-img {
    background-image: url(../img/images/basketball.jpg);
}

.card2 .card-img {
    background-image: url(../img/images/vradia.jpg);
}

.card3 .card-img {
    background-image: url(../img/images/karapataki.webp);
}

.card-body {
    height: 25%;
    width: 100%;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 0.75rem 2rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-btn {
    background-color: #f07167;
}

.btn-primary {
    border: none;
    color: #fcfcfc;
    border-radius: 0.85em;
    padding: 0.8rem 1.8rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

.btn-primary:hover {
    background-color: #cf574e;
}

.events-btn {
    border: none;
    color: #fcfcfc;
    background-color: #003844;
    border-radius: 0.85em;
    padding: 1rem 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.1s;
}
.events-btn:hover {
    background-color: #012730;
}

/* INFO */
.info {
    height: 100vh;
    width: 100%;
    padding-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.info-image-01 {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url(https://dummyimage.com/1920x1080.png?text=Image%201);
    background-size: cover;
    background-position: center;
}

.info-01 {
    grid-area: 1 / 3 / 2 / 4;
}

.info-02 {
    grid-area: 2 / 1 / 3 / 2;
}

.info-image-02 {
    grid-area: 2 / 2 / 3 / 4;
    background-image: url(https://dummyimage.com/1920x1080.png?text=Image%202);
    background-size: cover;
    background-position: center;
}

/* CONTACT */
.contact {
    height: 100vh;
    width: 100%;
    padding-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 6rem;
    width: 100%;
    padding: 2rem 3rem;
    background-color: #fcfcfc;
    color: #003844;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer > svg {
    height: 3rem;
    fill: #003844;
}
.footer-social {
    list-style-type: none;
}

.footer-item {
    display: inline;
}

.footer-item:last-child {
    margin-left: 2rem;
}

.footer-item svg {
    height: 30px;
    fill: #003844;
}
