@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/* NAVBAR */
.navbar {
    width: 100vw;
    height: 80px;
    background-color: #4b4b4b;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 2rem 0rem 1rem;
    position: fixed;
    z-index: 10;
}

.navbar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.nav-social > img {
    height: 30px;
}

.nav-title {
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -8px;
}

.nav-links {
    list-style: none;
    display: flex;
    column-gap: 1rem;
    margin-left: 2rem;
}

.nav-links > a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    display: inline;
    font-size: 30px;
    font-weight: 100;
}

/* FOOTER */
footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.8);
    border-top: 6px solid #dcdcdc;
}

/* BG ELEMENTS */
.lines {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    width: 100%;
}

/* GENERAL PURPOSE */
section {
    height: 100vh;
}

.rotate-135 {
    transform: rotate(36deg);
    position: absolute;
    top: 8%;
    right: 7%;
}

/* ABOUT */
.about {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 150px;
    line-height: 180px;
    color: #f03f39;
}

.about h1 {
    font-weight: 900;
}

.about-title {
    color: #dcdcdc;
    font-size: 200px;
}

/* PROJECTS */
.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10vw;

    transform: rotate(180deg);
}

.projects-title {
    width: 100%;
    padding: 0.5rem;
    font-size: 180px;
    font-weight: 900;
    color: #dcdcdc;

    transform: rotate(90deg);
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container > img {
    width: 1190px;
    border-radius: 25px;
}

.arrow-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    cursor: pointer;
}

.arrow-btn:hover,
.arrow-btn:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.arrow {
    height: 100px;
}

/* GAMES */
.games {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games > h1 {
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 200px;
    font-weight: 900;
    color: #dcdcdc;
}

/* COMPONENTS */
.cards {
    display: flex;
    gap: 1.5rem;
}

.card {
    height: 392px;
    width: 300px;

    color: #ffffff;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #404040;
}

.card-bg {
    width: 100%;
}

.card-body {
    padding: 0rem 1rem 0rem 1rem;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
}

.card-text {
    font-size: 14px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 0rem 1rem 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-links {
    display: flex;
    column-gap: 1rem;
}

.card-links > img {
    width: 25px;
}

.card-btn {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #f03f39;
    color: #ffffff;

    cursor: pointer;
    transition: 0.2s;
}

.card-btn:hover,
.card-btn:focus {
    outline: none;
}

.card-btn:hover {
    background-color: #a33430;
}
