@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
    --dark-blue: #2d3142;
    --light-blue: #4f5d75;
    --grey: #bfc0c0;
    --orange: #ef8354;
    --white: #ffffff;
    --black: #161616;

    --white-hover: #ebebeb;
    --orange-hover: #d1724a;
    --light-blue-hover: #404c61;
    --dark-blue-hover: #222636;

    --bRadius: 1.2em;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

section {
    height: 100vh;
    padding-top: 95px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HOMEPAGE */
.homepage {
    height: 225vh;

    position: relative;
}

.homepage::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url(../img/images/home-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: translateY(-15vh);
}

.home {
    height: 100vh;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgb(183, 233, 255);
    background: linear-gradient(0deg, rgba(183, 233, 255, 1) 60%, rgba(60, 123, 236, 1) 100%);
}

.hero {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    color: var(--white);
    font-size: 8em;
    font-weight: 900;

    transition: all 0.5s ease;
}

.events {
    height: 100vh;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 85%);
    padding: calc(95px + 6em) 0 6em 0;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 70%;
    grid-template-rows: 6em auto;
    gap: 2em 0em;
    grid-template-areas:
        "events-header"
        "events-body";

    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.events-header {
    grid-area: events-header;
    background-color: var(--white);
    border-radius: var(--bRadius);
    box-shadow: 0.2em 0.5em 10px rgba(0, 0, 0, 0.4);

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1.2em;
}

.events-header-title {
    font-size: 1.5em;
    color: var(--dark-blue);
}

.events-body {
    grid-area: events-body;
    height: 100%;
    width: 100%;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    gap: 0em 5%;
    grid-template-areas: "card-01 card-02 card-03";
}

.card {
    height: 100%;
    width: 100%;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 100%;
    grid-template-rows: auto max-content;
    gap: 0em 0em;
    grid-template-areas:
        "card-image"
        "card-body";

    border-radius: var(--bRadius);
    background-color: var(--dark-blue);
    box-shadow: 0.2em 0.5em 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.card-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

#card-03 > .card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    opacity: 0;
    transition: all 0.3s ease;
}

#card-03 > .card-image:hover::before {
    opacity: 1;
}

#card-03 > .card-image:hover > .card-btn {
    opacity: 1;
    filter: blur(0px);
}

.card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;

    opacity: 0;
    filter: 5px;

    transition: all 0.3s ease;
}

.card-body {
    text-align: center;

    padding: 3em 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;

    color: var(--white);
}

.card-title {
    font-size: 1.6em;
}

.card-date {
    font-size: 1.1em;
}

#card-01 {
    grid-area: card-01;
}

#card-02 {
    grid-area: card-02;
}

#card-03 {
    grid-area: card-03;
}

#card-01 > .card-image {
    background-image: url(http://unsplash.it/1600/900?gravity=center);
}

#card-02 > .card-image {
    background-image: url(http://unsplash.it/1280/720?gravity=center);
}

#card-03 > .card-image {
    background-image: url(http://unsplash.it/1920/1080?gravity=center);
}

.tickets {
    height: max-content;
    width: 100%;

    padding: 2em 0;
    background-color: var(--orange);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.tickets-title {
    font-size: 3em;
    text-align: center;
}

.tickets-description {
    font-size: 2em;
}

.tickets-btn {
    margin-top: 2em;
    margin-bottom: 1em;
}

.tickets-info {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}

.tickets-info > a {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline var(--white) 1px;
}

.info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 10% 30%;
    grid-template-rows: 30% 30%;
    gap: 2em 2em;
    grid-template-areas:
        "location-image location-image location-text"
        "info-text info-image info-image";

    justify-content: center;
    align-content: center;
}

.location-image,
.info-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: var(--bRadius);
    box-shadow: 0.2em 0.5em 10px rgba(0, 0, 0, 0.4);
}

.location-text,
.info-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.location-text > h1,
.info-text > h1 {
    font-size: 2em;
    color: var(--orange);
}

.location-text > a,
.info-text > a {
    color: var(--orange);
    text-decoration: underline dotted var(--orange) 1px;
}

.location-image {
    grid-area: location-image;
    background-image: url(http://placeskull.com/1910/1070);
}

.location-text {
    grid-area: location-text;

    align-items: flex-start;
    text-align: left;
}

.location-text > a {
    position: absolute;
    bottom: 0;
    left: 0;
}

.info-image {
    grid-area: info-image;
    background-image: url(http://placeskull.com/1920/1080);
}

.info-text {
    grid-area: info-text;

    align-items: flex-end;
    text-align: right;
}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.divider .shape-fill {
    fill: #ffffff;
}

/* FAQ */
.faq {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--light-blue);
    color: var(--white);
}

.faq > h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: var(--orange);
}

.question-container {
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2rem;
}

.question {
    height: 8rem;
    width: 60%;

    display: flex;

    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.question-title {
    width: 90%;
    color: var(--orange);
}

.contact {
    background-color: var(--light-blue);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;

    text-align: center;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1em;

    color: var(--white);
}

.contact-info > h1 {
    color: var(--orange);
    font-size: 3rem;
}

.contact-text {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100%;
    gap: 0em 0em;
    grid-template-areas: "contact-details contact-description";
    justify-content: center;

    text-align: right;
}

.contact-details {
    grid-area: contact-details;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    text-align: left;

    padding-right: 2em;
}

.contact-description {
    grid-area: contact-description;

    text-align: left;

    padding-left: 2em;
    position: relative;
}

.contact-description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    border-radius: var(--bRadius);
    background-color: var(--white);
    transform: translateX(-50%);
}

.contact iframe {
    height: 50%;
    width: 60%;

    border-radius: var(--bRadius);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .events {
        grid-template-rows: 5em 1fr;
    }

    .card-body {
        padding: 1em 0;
        gap: 1em;
    }

    .card-title {
        font-size: 1.3em;
    }

    .card-date {
        font-size: 0.9em;
    }

    .info {
        grid-template-columns: 33% 2% 33%;
    }

    .info-text,
    .location-text {
        font-size: 0.8em;
    }

    .faq > h1 {
        font-size: 2.5em;
    }

    .question {
        font-size: 0.85em;
    }

    .contact-text {
        font-size: 0.8em;
    }

    .contact-info > h1 {
        font-size: 2.5em;
    }
}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {
    .hero {
        font-size: 5em;
    }

    .events {
        padding: calc(95px + 2em) 0 2em 0;
        grid-template-rows: 4em 1fr;
    }

    .events-body {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 48% 48%;
        grid-template-rows: 48% 48%;
        gap: 4% 4%;
        grid-template-areas:
            "card-01 card-02"
            "card-03 card-03";
    }

    .events-header-title {
        font-size: 1.2em;
    }

    .events-btn {
        padding: 0.7em 1.2em;
        border-radius: 0.7em;
        font-size: 0.9em;
    }

    .card-body {
        padding: 1em 0;
        gap: 1em;
    }

    .card-title {
        font-size: 1.1em;
    }

    .card-date {
        font-size: 0.8em;
    }

    .card-btn {
        padding: 0.5em 1em;
        font-size: 0.8em;
        border-radius: 0.5em;
    }

    .tickets {
        padding: 1em 0;
    }

    .tickets-title {
        font-size: 2em;
    }

    .tickets-description {
        font-size: 1em;
    }

    .tickets-btn {
        font-size: 0.8em;
        padding: 1em 1.5em;
    }

    .tickets-info {
        font-size: 0.8em;
    }

    .info {
        grid-template-columns: 70%;
        grid-template-rows: 18% 17% 18% 17%;
        grid-template-areas:
            "location-image"
            "location-text"
            "info-image"
            "info-text";
        align-content: center;

        font-size: 0.8em;
    }

    .info-text > a,
    .location-text > a {
        position: relative;
    }

    .location-text,
    .info-text {
        align-items: flex-start;
        text-align: justify;
    }

    .faq {
        font-size: 0.8em;
    }

    .faq > h1 {
        margin-bottom: 0.5em;
    }

    .contact {
        font-size: 0.8em;
    }

    .contact > iframe {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px) */
@media only screen and (max-width: 768px) {
    .homepage {
        height: 275vh;
    }

    .events {
        height: 150vh;
    }

    #card-03 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        gap: 0% 0%;
        grid-template-areas: "card-image card-body";
    }

    #card-03 > .card-body {
        justify-content: center;
    }

    .events-body {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 48% 48%;
        grid-template-rows: 48% 48%;
        gap: 4% 4%;
        grid-template-areas:
            "card-01 card-02"
            "card-03 card-03";
    }

    .info {
        font-size: 0.8em;
        height: 150vh;
    }

    .faq {
        font-size: 0.8em;
        height: 150vh;
    }

    .faq > h1 {
        margin-bottom: 2em;
    }
}

/* Extra small devices (phones, 600px) */
@media only screen and (max-width: 600px) {
    .hero {
        font-size: 6em;
    }

    .events {
        grid-template-rows: max-content 1fr;
    }

    .events-body {
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30%;
        gap: 5% 0%;
        grid-template-areas:
            "card-01"
            "card-02"
            "card-03";
    }

    .events-header {
        flex-direction: column;
        justify-content: center;
        row-gap: 1em;
        padding: 1em 0;
    }

    .events-header-title {
        font-size: 1.4em;
    }

    .events-btn {
        font-size: 1em;
    }

    #card-03 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 100%;
        grid-template-rows: auto max-content;
        gap: 0% 0%;
        grid-template-areas:
            "card-image"
            "card-body";
    }

    #card-03 > .card-body {
        justify-content: space-between;
    }

    .card-title {
        font-size: 1.4em;
    }

    .card-date {
        font-size: 0.9em;
    }

    .card-btn {
        font-size: 1.1em;
    }

    .tickets {
        font-size: 1.5em;
    }

    .info {
        height: 100vh;
        font-size: 1.1em;
    }

    .faq {
        height: 100vh;
        font-size: 0.8em;
    }

    .faq > h1 {
        margin-bottom: 1em;
        font-size: 3em;
    }

    .question {
        width: 80%;
    }
}
