@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
    --grey: rgb(64, 64, 64);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/bg-elements/bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

footer {
    /* SIZING */
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;

    /* APPEARANCE */
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.8);
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 65px;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.99);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: 10;

    color: #ffffff;
}

.nav-title {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    font-weight: 100;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-list > li {
    margin-left: 1rem;
    text-align: center;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.active {
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--red);

    transition: 0.2s;
}

#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bracket {
    font-size: 25rem;
    font-weight: 500;
    color: #f03f39;
}

.home-title {
    line-height: 10rem;
    font-size: 12rem;
    font-weight: 900;
    text-align: center;
    color: #f03f39;
}

#projects {
    background-color: var(--grey);
}

#games {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2rem;
    grid-auto-flow: row;
    grid-template-areas: "game-01 game-02 game-03";
}

.container {
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: column;
    grid-template-areas:
        "card-01 card-02"
        "card-03 card-04";
}

.card-01 {
    grid-area: card-01;
    align-self: stretch;
    justify-self: stretch;
}

.card-02 {
    grid-area: card-02;
    align-self: stretch;
    justify-self: stretch;
}

.card-03 {
    grid-area: card-03;
    align-self: stretch;
    justify-self: stretch;
}

.card-04 {
    grid-area: card-04;
    align-self: stretch;
    justify-self: stretch;
}

.game-01 {
    grid-area: game-01;
}

.game-01 {
    grid-area: game-02;
}

.game-01 {
    grid-area: game-03;
}

.custom-shape-divider-top-1645986461 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645986461 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1645986461 .shape-fill {
    fill: var(--grey);
}

.custom-shape-divider-bottom-1645986521 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645986521 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1645986521 .shape-fill {
    fill: var(--grey);
}
