@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--black: #000000;
	--grey: #c7c7c7;
	--dark-grey: #131313;
	--dark-green: #39432e;
	--light-green: #8aaa66;
	--light-grey: #efefef;
	--white: #f6f6f6;

	--light-green-hover: #6f8a51;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
}

img {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background: transparent;
}

section {
	min-height: 100vh;
	height: fit-content;
	padding: 5em 10%;
}

.list-inline {
	list-style-type: none;
}

.list-inline li {
	display: inline-block;
}
