:root {
    --dark-blue: #2d3142;
    --light-blue: #4f5d75;
    --grey: #bfc0c0;
    --orange: #ef8354;
    --white: #ffffff;
    --black: #161616;

    --white-hover: #ebebeb;
    --orange-hover: #d1724a;
    --light-blue-hover: #404c61;
    --dark-blue-hover: #222636;
}

.hidden {
    z-index: -1;
    filter: blur(5px);
    user-select: none;
    opacity: 0;
}

.list-inline {
    list-style-type: none;
}

.list-inline li {
    display: inline;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-blue,
.btn-orange,
.btn-white {
    padding: 1rem 1.5rem;
    color: var(--white);
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-orange {
    background-color: var(--orange);
}

.btn-orange:hover {
    background-color: var(--orange-hover);
}

.btn-blue {
    background-color: var(--dark-blue);
}

.btn-blue:hover {
    background-color: var(--dark-blue-hover);
}

.btn-white {
    background-color: var(--white);
    color: var(--black);
}

.btn-white:hover {
    background-color: var(--white-hover);
}
