.list-inline {
    list-style-type: none;
}

.list-inline li {
    display: inline;
}

.btn-blue,
.btn-orange,
.btn-white {
    border-radius: 0.8rem;
    font-size: 1rem;
    border: none;
    padding: 1rem 1.8rem;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.btn-orange {
    color: var(--white);
    background-color: var(--orange);
}

.btn-orange:hover {
    background-color: var(--orange-hover);
}

.btn-blue {
    color: var(--white);
    background-color: var(--dark-blue);
}

.btn-blue:hover {
    background-color: var(--dark-blue-hover);
}

.btn-white {
    color: var(--black);
    background-color: var(--white);
}

.btn-white:hover {
    background-color: var(--white-hover);
}

.btn-disabled {
    cursor: not-allowed;
}
